<h1>MLS Fanatics</h1>
<p>This is a place where all MLS soccer fans come together, and collabarate with each other !</p>
    <button> 
<a href="/soccer/new">
Create Fan
</a>
    </button>



    <button> 
<a href="/location">
Pick Up Games
</a>
    </button>

{{#each allSoccers}}
<a href="/soccer/{{_id}}">
    <p>{{name}}</p>
</a>
{{/each}}
<img src="../../images/teams.png" alt="">