<h1>Add Fan</h1>


<form action="/soccer"method= "POST">



<input type="text" name="name" placeholder="name"/>
<input type="number" name="age" placeholder="age"/>
<input type="text" name="city" placeholder="city"/>
<input type="text" name="club" placeholder="club"/>


<input type="submit" value="Create"/>
</form>