<h1>Add Team</h1>


<form action="/team"method= "POST"></form>


<input type="text" name="name" placeholder="name"/>
<input type="number" name="yearfounded" placeholder="yearfounded"/>
<input type="number" name="titleswon" placeholder="titleswon"/>


{{!-- {{this thing below is HOME }} --}}


<a href="/soccer">
    <button> Home </button>

</a>

<input type="submit" value="Create"/>

</form>